//====================GENERAL====================
.navbar-main{
  position: absolute;
  width: 100%;
}
.nav-container{
  display: flex;
  justify-content: center;

  .nav-spacefaxcts{
    text-decoration: none;
    margin: 0;
    h3{
      color: #9f88d8;
    }
  }
  .other-links{
    .link{
      text-decoration: none;
      p{
        color: white;
      }
    }
  }
}


* {
  font-family: 'Rajdhani', sans-serif;
}

.footer{
  background-color: white;
  .footer-links{
    display: flex;
    justify-content: space-evenly;
  }
  .footer-text{
    color: black;
  }
}
//==rover style for bottom links

//====================HOME====================
.home-container{
  height: 200vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;

  .section-1{
    height: 50%;

    .home-title{
      height: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    .scroll{
      display: flex;
      justify-content: center;
    }
  }

  .section-2{
    height: 70%;
    margin: 0 !important;
    background-color: black;
    @media (max-width: (768px)){
      height: 150%;
    }
    .card-rows{
      margin: 0 20%;
      .home-card{
        border: transparent;
        margin: 1em;
        .home-card-image{
          height: auto;
          width: auto;
        }
        .home-card-text-container{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .home-card-text{
          padding: 0;
          margin: 0;
          font-size: 2rem;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

//====================ABOUT====================
.about-container{
  height: 100vh;
  .about-section{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .about-title{
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    .about-content{
      font-size: 1.3em;
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      color: white;
      font-weight: bold;

      @media (max-width: (768px)){
        width: 75%;
      }

      .project-text{
        font-size: 0.8em;
        a{
          text-decoration: none;
          color: #9f88d8;
          font-weight: bold;
        }
      }
    }
  }
}

//====================EARTH====================
.earth-container{
  height: 200vh;
  background-repeat: no-repeat;
  background-size: cover;

  .section-1{
    height: 50%;
    background: linear-gradient(transparent, black);
    .earth-title{
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    .earth-description{
      font-size: 1.3em;
      height: 35%;
      width: 35%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      text-align: center;
      color: white;
    }
    .scroll{
      display: flex;
      justify-content: center;
    }
  }

  .section-2{
    height: 50%;
    padding-top: 10%;;
    margin-inline: auto;
    background-color: black;
    @media (max-width: (768px)){
      height: 150%;
    }

    .split{
      display: flex;
      flex-direction: column;
      margin-bottom: 3%;

      .row{
        height: 100%;
      }
      .earth-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .earth-image{
          display: block;
          max-width: 100%
        }
        .earth-image-description{
          margin-top: 1em;
          width: 75%;
          color: white;
        }
      }
      .earth-content{
        padding: 1.5em 2.5em 0 2.5em;
        color: white;
        font-weight: bold;
        .earth-content-title{
          margin-bottom: 1em;
        }
        a{
          text-decoration: none;
          color: #9f88d8;
          font-weight: bold;
        }
      }
    }
    @media (min-width: 768px){
      .split{
        flex-direction: row;
      }
      .split > *{
        flex-basis: 100%
      }
    }
  }
}

//====================MARS====================
.mars-container{
  height: 200vh;
  background-repeat: no-repeat;
  background-size: cover;
  .section-1{
    height: 50%;
    background: linear-gradient(transparent, black);
    .mars-title{
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    .mars-description{
      font-size: 1.3em;
      height: 35%;
      width: 35%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      color: white;
    }
    .scroll{
      display: flex;
      justify-content: center;
    }
  }

  .section-2{
    height: 50%;
    padding-top: 15%;
    margin: 0 !important;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: (768px)){
      height: 150%;
    }
    h3{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      color: white;
    }

    .card-rows{
      margin: 0 5% 3%;

      .mars-card{
        border: transparent;
        margin: 1em;
        .mars-card-image{
          height: auto;
          width: auto;
        }
        .mars-card-text-container{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .mars-card-text{
          padding: 0;
          margin: 0;
          font-size: 2rem;
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}

//====================SPOTD====================
.spotd-container{
  height: 200vh;
  .section-1{
    height: 50%;
    background: linear-gradient(transparent, black);
    .spotd-title{
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    .spotd-description{
      font-size: 1.3em;
      height: 35%;
      width: 35%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      text-align: center;
      color: white;
    }
    .scroll{
      display: flex;
      justify-content: center;
    }
  }

  .section-2{
    height: 50%;
    padding-top: 10%;
    background: linear-gradient(black, #9f88d8);
    @media (max-width: (768px)){
      height: 150%;
    }
    .split{
      display: flex;
      flex-direction: column;
      margin: 0 auto 5%;

      .spotd-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .spotd-image{
          height: 30em;
          width: auto;
        }
        p{
          color: white;
        }
      }
      .spotd-content{
        padding: 1.5em 2.5em 0 2.5em;
        color: white;
        font-weight: bold;
        .spotd-content-title{
          margin-bottom: 1em;

        }
      }
    }
    @media (min-width: 768px){
      .split{
        flex-direction: row;
      }
      .split > *{
        flex-basis: 100%
      }
    }
  }
}

//====================SPIRIT====================
.spirit-container{
  height: 200vh;
  .section-1{
    padding-top: 40px;
    margin-top: 0;
    height: 50%;
    background: linear-gradient(darkslategrey, #ffb08e);
    .spirit-title{
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0.4em;
      color: white;
    }

    .model-container {
      display: flex;
      justify-content: center;

      model-viewer {
        height: 400px;
        width: 600px;
      }
    }
    .spirit-description{
      width: max(65%);
      margin: 0.5em auto 0;
      display: flex;
      color: white;
    }
    .scroll{
      display: flex;
      justify-content: center;
      margin-top: 2.5em;
    }
  }

  .section-2{
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: (768px)){
      height: 80%;
    }
    .split{
      display: flex;
      flex-direction: column;

      .row{
        height: 100%;
      }
      .spirit-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .spirit-image{
          display: block;
          max-width: 100%
        }
      }
      .spirit-content{
        padding: 10em 1.5em;
        color: white;
        font-weight: bold;

        .visit-mission{
          text-decoration: none;
          font-weight: bold;
          color: #9f88d8;

        }
      }
    }
    @media (min-width: 768px){
      .split{
        flex-direction: row;
      }
      .split > *{
        flex-basis: 100%
      }
    }

    .bottom-link-container{
      display: flex;
      justify-content: space-evenly;
      @media (max-width: (768px)){
        display: flex;
        flex-direction: column;
      }
      .bottom-links{
        margin-bottom: 23%;
        text-decoration: none;
        p{
          text-align: center;
          padding-top: 5rem;
          color: white;
        }
      }
    }
  }
}

//====================OPPORTUNITY====================
.opportunity-container{
  height: 200vh;
  color: white;
  .section-1{
    padding-top: 40px;
    height: 50%;
    background: linear-gradient(darkslategrey, #ffb08e);
    .opportunity-title{
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0.4em;
    }
    .model-container{
      display: flex;
      justify-content: center;
      model-viewer{
        height: 400px;
        width: 600px;
      }
    }

    .opportunity-description{
      width: max(65%);
      margin: 0.5em auto 0;
      display: flex;
    }
    .scroll{
      display: flex;
      justify-content: center;
      margin-top: 2.5em;
    }
  }

  .section-2{
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: (768px)){
      height: 100%;
    }
    .split{
      display: flex;
      flex-direction: column;

      .row{
        height: 100%;
      }
      .opportunity-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .opportunity-image{
          display: block;
          max-width: 100%
        }
      }
      .opportunity-content {
        padding: 8em 1.5em;
        font-weight: bold;

        .visit-mission {
          text-decoration: none;
          font-weight: bold;
          color: #9f88d8;
        }
      }
    }
    @media (min-width: 768px){
      .split{
        flex-direction: row;
      }
      .split > *{
        flex-basis: 100%
      }
    }
  }
  .bottom-link-container{
    display: flex;
    justify-content: space-evenly;
    @media (max-width: (768px)){
      display: flex;
      flex-direction: column;
    }
    .bottom-links{
      text-decoration: none;
      p{
        padding-top: 5rem;
        text-align: center;
        color: white;
      }
    }
  }

}

//====================CURIOSITY====================
.curiosity-container{
  height: 200vh;
  color: white;
  .section-1{
    padding-top: 40px;
    height: 50%;
    background: linear-gradient(darkslategrey, #ffb08e);
    .curiosity-title{
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0.4em;
    }
    .model-container {
      display: flex;
      justify-content: center;

      model-viewer {
        height: 400px;
        width: 600px;
      }
    }
    .curiosity-description{
      width: max(65%);
      margin: 0.5em auto 0;
      display: flex;
    }
    .scroll{
      display: flex;
      justify-content: center;
      margin-top: 2.5em;
    }
  }

  .section-2{
    height: 60%;
    margin-inline: auto;
    background: no-repeat;
    background-size: cover;
    @media (max-width: (768px)){
      height: 80%;
    }
    .split{
      display: flex;
      flex-direction: column;

      .row{
        height: 100%;
      }
      .curiosity-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .curiosity-image{
          margin-top: 2em;
          display: block;
          max-width: 100%
        }
      }
      .curiosity-content{
        padding: 10em 1.5em 20em;
        font-weight: bold;
        .spotd-content-title{
          margin-bottom: 1em;
        }
      }
    }
    @media (min-width: 768px){
      .split{
        flex-direction: row;
      }
      .split > *{
        flex-basis: 100%
      }
    }
  }
  .bottom-link-container{
    display: flex;
    justify-content: space-evenly;
    .bottom-links{
      text-decoration: none;
      p{
        padding-top: 5rem;
        text-align: center;
        color: white;
      }
    }
  }

}

//====================MISSION====================

.mission-container{
  height: 100vh;
  background: no-repeat;
  background-size: cover;
  .section-1{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    .mission-title{
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .mission-description{
      font-size: 1.3em;
      height: 35%;
      width: 35%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
    .scroll{
      display: flex;
      justify-content: center;
      margin-top: 2.5em;
    }
  }

  .section-2 {
    background-color: black;
    margin-inline: auto;
    p{
      color: white;
      margin-bottom: 3%;
    }
  }
}